name: Build and Deploy

on:
  push:
    branches:
      - main # or master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '20.19.5' # Use a compatible Node version

    - name: Install dependencies
      run: npm install

    - name: Build Quasar app
      run: npm run build # Ensure you have a "build" script in your package.json

    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages # The branch to deploy the build files to
        FOLDER: dist/spa # The folder containing your built files
